/* Fontes */
@font-face {
    font-family: Pixelify Sans;
    src: url(../Fonts/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}
@font-face {
    font-family: Sikscreen;
    src: url(../Fonts/Sikscreen/Silkscreen-Regular.ttf);
}
@font-face {
    font-family: Orbitron;
    src: url(../Fonts/Orbitron/static/Orbitron-Regular.ttf);
}
@font-face {
    font-family: Press_Start;
    src: url(../Fonts/Press_Start_2p/PressStart2P-Regular.ttf);
}
span {
    font-family: Orbitron, sans-serif;
}
h1 {
    font-family: Press_Start, sans-serif;
}
p  {
    font-family: Sikscreen, sans-serif;
}
label {
    font-family: Pixelify Sans, sans-serif;
}

.bg-primary-color {
    color: #FFF;
}
.bg-secondary-color {
    background-color: #ece8ea;
}
.bg-dark-color {
    background-color: #050505;
}
.primary-color {
    color: #050505;
}
.secondary-color {
    color: #7a7a7a;
}
/* Navbar */
#navbar {
    border-bottom: 1px solid #7a7a7a;
}
#navbar a.active {
    border-bottom: 1px solid #050505;
}
.navbar-brand {
    display: flex;
}
.navbar-brand i {
    font-size: 1.5em;
}
.navbar-brand span {
    font-size: 1.5em;
    margin-left: 0.5em;
}

/* Nav items */
.navbar-items ul, li{
    font-family: Sikscreen, sans-serif;
}
#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}
#navbar-items .nav-item {
    margin: 0 1em;
}

/* Letra matrix */
.matrix:hover {
    color: transparent;
    background: url(../img/1j6F.gif) no-repeat;
    background-clip: text;
    background-size: cover;
}
.matrixBrand {
    color: transparent;
    background: url(../img/1j6F.gif) no-repeat;
    background-clip: text;
    background-size: cover;
}